server {
        listen                  443 ssl;
        listen                  [::]:443 ssl;
        server_name             data-im-proxy-int-psn.{{ url }};
        ssl_certificate         /etc/letsencrypt/live/{{ url }}/fullchain.pem;
        ssl_certificate_key     /etc/letsencrypt/live/{{ url }}/privkey.pem;
	      ssl_verify_depth 	      2;
        include                 ssl_params;
	      resolver		            {{ resolver }} valid=30s;

        location / {
{% if env_type == "prod" %}
          proxy_pass                      https://{{ prod_northgate_url }};
{% endif %}
{% if env_type == "stage" %}
          proxy_pass                      https://{{ stage_northgate_url }};
{% endif %}
{% if env_type == "dev" %}
          proxy_pass                      https://{{ dev_northgate_url }};
{% endif %}
          proxy_ssl_trusted_certificate	  /etc/pki/tls/certs/ca-bundle.crt;
          proxy_ssl_verify_depth	        2;
          proxy_ssl_verify 		            on;
          proxy_ssl_server_name 	        on;
          proxy_ssl_protocols		          TLSv1.3;
          proxy_http_version		          1.1;
          client_max_body_size            10m;
        }
}
